<!DOCTYPE html>
<html>
<head>
  <title>WaterTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- <script charset="UTF-8" src="//cdn.sendpulse.com/js/push/35cb040d21242af965d5e113e345e02f_0.js" async></script> -->
  <script charset="UTF-8" src="//cdn.sendpulse.com/js/push/fe0e0c89689e22e85204261b33081f7a_1.js" async></script>


  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
